.dock-window{
  width: 100%;
  height: 97vh;
  position: relative;
  background-image: url('../../../public/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; /* Centra la imagen de fondo */
}
.container-card{
  margin: 30px;
}


