<div class="animate__animated animate__backInDown animate__slow">
  <app-barra-cierre></app-barra-cierre>
  <div class="container">
    <div *ngFor="let autor of autores" class="card_v">
      <div (click)="showAutorDetails(autor)">
        <p-card >
          <ng-template pTemplate="header">
            <img [src]="'/assets/autores/' + autor.imgName" alt="Portada del Libro" class="img-autores"/>
            <div class="tar">
              <div>
                <span style="font-weight: bold; font-size: 0.9em; display: block; margin-top: 10px;">{{ autor.nombre }}</span>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
      <div *ngIf="admin" class = "botones-libro">
        <button class="boton-editar" (click)="mostrarCamposAutor(autor)">
          <img [src]="'/assets/editar.png'" alt="Icono de edición" class="boton-editar"/>
        </button>
        <button class="boton-eliminar" (click)="deleteConfirm(autor)">
          <img [src]="'/assets/delete.png'" alt="Icono de eliminación" class="boton-eliminar"/>
        </button>
    </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="displayDialog" [modal]="true" [closable]="true" [style]="{width: '60vw'}" (onHide)="closeDialog()">
  <div *ngIf="selectedAutor" style="display: flex; align-items: flex-start;">
    <div>
      <img [src]="'/assets/autores/' + selectedAutor.imgName" alt="autor" style="width: 100%; border-radius: 8px;margin: 2px 2px 2px;"/>
    </div>
    <div style="margin-left: 20px; width: 60%;">
      <ul style="list-style-type: none; padding: 0;">
        <li><strong>Nombre:</strong>{{selectedAutor.nombre}}</li>
        <li><strong>Biografía:</strong> {{ selectedAutor.descripcion }}</li>
      </ul>
      <p>{{ selectedAutor.descripcion }}</p>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayModify" [modal]="true" [closable]="true" [style]="{width: '50%', height: '100%'}" (onHide)="closeDialog()">
  <div *ngIf="selectedAutor" class="libro-form">
    <form [formGroup]="libroForm" (ngSubmit)="modificarAutor(selectedAutor)">
      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" />
      </div>

      <div>
        <label for="imgName">imagen:</label>
        <input id="imgName" formControlName="imgName"/>
      </div>

      <div>
        <label for="descripcion">Descripcion:</label>
        <input id="descripcion" formControlName="descripcion" />
      </div>

      <button type="submit">Guardar</button>
    </form>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayAdd" [modal]="true" [closable]="true" [style]="{width: '50%', height: '100%'}" (onHide)="closeDialog()">
  <div>
      <form [formGroup]="libroFormAdd" (ngSubmit)="addAutor(selectedAutor)">
        <div>
          <label for="nombre">Nombre:</label>
          <input id="nombre" formControlName="nombre" />
        </div>

        <div>
          <label for="imgName">imagen:</label>
          <input id="imgName" formControlName="imgName"/>
        </div>

        <div>
          <label for="descripcion">Descripcion:</label>
          <input id="descripcion" formControlName="descripcion" />
        </div>

        <button type="submit">Guardar</button>
      </form>
  </div>
</p-dialog>
<div *ngIf="admin">
<img [src]="'/assets/icono-cruz.png'" alt="Icono de edición" class="boton-add" (click)="mostrarCamposAutorAdd()"/>
</div>

<p-dialog header="Confirmación" [(visible)]="displayDelete" [modal]="true" [closable]="false" [styleClass]="'dialogo-eliminacion'">
  <p>¿Deseas borrar el autor?</p>
  <div class="dialogo-botones">
    <button pButton type="button" label="Sí" icon="pi pi-check" (click)="deleteAutor(autorSelectedDelete)">SI</button>
    <button pButton type="button" label="No" icon="pi pi-times" (click)="displayDelete=false">NO</button>
  </div>
</p-dialog>

<p-dialog header="Error" [(visible)]="displayError" [modal]="true" [closable]="true" [styleClass]="'dialogo-error'">
  <p>{{ errorMessage }}</p>
  <div class="dialogo-botones">
    <button pButton type="button" label="Cerrar" icon="pi pi-times" (click)="displayError=false">OK</button>
  </div>
</p-dialog>

